<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理员登录</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
	<!-- 标题 -->
	<h1 class="text-center" th:if="${title}!=null">
		<a href="/" >[[${title.name}]]</a>
	</h1>
	<!-- 设置标题 -->
	<form action="/titles" method="post">
		<div class="input-group mb-3">
			<input type="text" class="form-control" name="name"
				placeholder="请输入新标题">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit">修改标题</button>
			</div>
		</div>
	</form>
</body>